<div class="container">
    <h1>ALTA DE POKEMONES</h1>


    <div class="form">
        <div class="col-sm-4">
            <p>
                <label for="">Nombre del pokemon</label>
                <input type="text" class="form-control" [(ngModel)]="libro.nombret" />
            </p>
            <p>
                <label for="">Tamaño</label>
                <input type="text" class="form-control" [(ngModel)]="libro.tamano" />
            </p>
            <p>
                <label for="">Tipo del pokemon</label>
                <input type="text" class="form-control" [(ngModel)]="libro.tipo" />
            </p>

            <div class="datos">
                <table>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-primary" (click)="this.insertarLibro()">
                                Insertar
                            </button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-warning" (click)="this.updateLibro()">
                                Actualizar
                            </button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger" (click)="this.deleteLibro(libro.id)">
                                Eliminar
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
            <br>
        </div>
        <div class="lista">
            <p>
                <strong>Tipos de Pokemones</strong>
            </p>
            1:Electrico <br>
            2:Planta <br>
            3:Fuego <br>
            4:Agua <br>
            5:Dragón <br>
            0:Sin definir <br>
        </div>

        <table class="table table table-striped">
            <thead>
                <th>Nombre del Pokemon</th>
                <th>Tamaño</th>
                <th>Tipo</th>
                <th>Seleccionar</th>
            </thead>
            <tbody>
                <tr *ngFor="let libro of libros">
                    <td>{{ libro.nombret }}</td>
                    <td>{{ libro.tamano }}</td>
                    <td>{{ libro.tipo }}</td>
                    <td>
                        <button type="button" class="btn btn-primary" (click)="selectLibro(libro)">
                            Seleccionar
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>